body {
    font-family: arial,sans-serif;
    padding: 35px;
    background-color: rgb(139, 139, 224);
}

h1,h2 {
    color: rgb(21, 17, 17);
}

form {
    background-color: rgb(35, 88, 88);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 3px 6px black;
}
label {
    display: block;
    margin-top: 5px;
}
input {
    margin-top: 6px;
    width: 100%;
    padding: 6px;
}
select {
    margin-top: 6px;
    width: 100%;
    padding: 6px;
}
button {
    margin-top: 20px;

}
ul {
    margin-top: 20px;
    background-color: rgb(234, 229, 229);
    padding: 10px;
    border-radius: 10px;
}